.App {
  text-align: center;
}

.searchBox {
  text-align: center;
  margin: auto;
  border: 1px solid green;
  max-width: 960px;
}

.searchBox textarea{
  vertical-align: middle;
  margin: 5px;
  min-width: 300px;
}

.searchButton {
  vertical-align: middle;
}
