*{
    border-style: border-box;
}

body{
    background-color: #E5E8EF;
}

.App {
    width: 1200px;
    margin: auto;
}

.searchBox {
    text-align: center;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.searchBox textarea{
    vertical-align: middle;
    margin: 5px;
    min-width: 500px;
    resize: none;
}

button {
    border: none;
    vertical-align: middle;
    background-color: #4473C2;
    padding: 10px;
    color: white;
}

.transaction{
    border-radius: 8px;
}

.transactionHeader{
    margin-top: 40px;
    background-color: #F5F5F5;
    padding: 10px 20px;
}

.header-message{
    text-align: left;
    font-weight: bold;
}

.transaction-hash{
    float: right;
}

table {
    display: inline-block;
    background-color: white;
    padding: 10px;
    min-width: 580px;
}

tr{
    width: 100%;
}

td:first-child {
    text-align: left;
}

td:last-child {
    text-align: right;
}

.backButton {
    display: block;
}

.addresses__header{
    display: inline-block;
    margin: 20px;
}

.addresses{
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

.addresses-header{
    margin-top: 30px;
    background-color: #F5F5F5;
    min-width: 450px;
    border-radius: 8px 8px 0 0;
}

.addresses-header-title{
    display: inline-block;
    width: 46%;
    margin: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul {
    /*list-style-type: none;*/
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.nocoins{
    font-weight: bold;
}

li {
    min-width: 530px;
}

.backButton {
    margin: 60px auto;
}
